@keyframes gradientSlide {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  
  .gradient-slide {
    background: linear-gradient(270deg, #ff7e5f, #feb47b);
    background-size: 200% 200%;
    animation: gradientSlide 0.5s ease-in-out forwards;
  }
  